<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
        <h1 class="">Let's start some kick-ass games</h1>
        <p>Find people to play your favorite board games. Set a date, let people join, and FEU!</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <h2 class="text-center underline">Games</h2>
    <!-- map -->
    <div class="col-lg-12">
      <div id="imap">

      </div>
      <h3 class="text-center">
        View details
      </h3>
    </div>
    <!-- /map -->
    <!-- each game -->
    <% games.forEach((game) => { %>
      <div class="col-lg-3">
        <div class="card">
          <img class="card-img-top card-img-top-index" src="<%=game._creator.imgUrl%>" alt="Card image cap">

          <div class="card-body">
            <div class="progress">
              <div class="progress-bar progress-bar" style="width:<%= JSON.stringify((game._players.length / game.nbplayersmax)*100, 2, null) %>%">
              </div>
            </div>
            <h4 class="card-title">
              <%= game.title %>
            </h4>
            <p class="card-text">By
              <%= game._creator.username %>
            </p>
            <p class="card-text">
              <% if (game.description.length < 50) { %>
                <%= game.description %>
                  <% } else { %>
                    <%= game.description.substring(0,50) %>...
                      <% } %>
            </p>
            <a href="/games/<%= game._id %>" class="btn btn-success">Details</a>
          </div>
        </div>
      </div>
      <%  }) %>
  </div>
</div>
<div class="container">
  <div class="row">
    <h2 class="text-center">Click & Fun</h2>
    <div class="row">
      <div class="col-lg-3 text-center">
        <h3>Search</h3>
        <p>Search board games, players</p>
      </div>
      <div class="col-lg-3 text-center">
        <h3>Select</h3>
        <p>Choose your game</p>
      </div>
      <div class="col-lg-3 text-center">
        <h3>Win</h3>
        <p>Smash'em all!</p>
      </div>
    </div>
  </div>
</div>
<script>
  window.games = <%- JSON.stringify(games) -%>;
</script>
<script src="javascripts/imap.js"></script>
<script>
  $(document).ready(function () {
    console.log('yolo');
    initMap();
  })
</script>