<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/profile" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control" value="">
        </div>
        <div class="form-group">
          <input type="file" name="photo" class="btn">
        </div>
        <div class="form-group">
          <label for="boardGame">I own these boardgames</label>
          <textarea type="text" name="boardGame" class="form-control" rows="5" value="
            <%= user.boardGame %>
          "></textarea>
        </div>
        <div class="form-group">
          <label for="type">I like these kinds of games</label>
          <textarea type="text" name="type" class="form-control" rows="5" value="
            <%= user.type %>
          "></textarea>
          </select>
        </div>
        <div class="form-group">
          <label for="description">Describe yourself in a few words</label>
          <textarea type="text" name="description" class="form-control" rows="5" value="
            <%= user.description %>
          "></textarea>
        </div>

        <pre>
          <%- JSON.stringify(user, null, 2) -%>
        </pre>

        <button type="submit">Update Profile</button>
      </form>
    </div>
    <div class="col-sm-6">
      <div>
        <div class="around-image">
          <img src="
          <%= user.imgUrl%>
          " alt="profile pic" class="img-rounded">
        </div>
      </div>
      <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>
          <%= user.username %>
        </dd>
        <dt>Who am I ?</dt>
        <dd>
          <%= user.description %>
        </dd>
        <dt>Games I own</dt>
        <dd>
          <%= user.boardGame %>
        </dd>
        <dt>I like to play...</dt>
        <dd>
          <%= user.type %>
        </dd>
      </dl>
      <div>
        <p>I created these games</p>
      </div>
      <div>
        <p>I joined these games</p> 
      </div>
    </div>
  </div>
</div>
