<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>
        <%= game.title %>
      </h1>
      <div id="map">

      </div>
      <%= game.coordinates %>
        <h2>
          <%= game.adress %>
        </h2>

        <p>
          <%= game.time %>
        </p>
        <h3>
          <%= game.description %>
        </h3>
        <form action="/games/<%= game._id %>/register" method="post">
          <input type="submit" value="S'inscrire" class="btn btn-primary">
        </form>
    </div>
  </div>
</div>

<script>
  window.coor = <%- JSON.stringify(game.coordinates) -%>;
</script>
<script src="/javascripts/map.js"></script>