<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>
        <%= game.title %>
      </h1>
      <div class="col-lg-4">
        <img src="<%= bginfos.img %>" alt="" style="height:250px">
        <p>
          <%= game.boardgame %>
        </p>
        <p>
          <i class="fa fa-child"></i>
          <%=bginfos.age%>
        </p>
        <p>
          <i class="fa fa-users"></i>
          <%=bginfos.players%>
        </p>
        <p>
          <span class="glyphicon glyphicon-time"></span>
          <%=bginfos.time%>
        </p>
      </div>
      <div class="col-lg-4">
        <p>
            <span class="glyphicon glyphicon-pencil"></span>
          
          <%= game.description %>
        </p>
        <p>
          <span class="glyphicon glyphicon-time"></span>
          <%= game.time %>
        </p>
        <p>
          <span class="glyphicon glyphicon-home"></span>
          <%= game.adress %>
        </p>
      </div>
      <div class="col-lg-4">
        <img src="<%= game._creator.imgUrl %>">
        <p>
          Hosted by :
          <%= game._creator.username %>
        </p>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <% if (userSignedIn) { %>
        <form action="/games/<%= game._id %>/register" method="post">
          <input type="submit" value="Join 'da game!" class="btn btn-primary">
        </form>
        <% } else { %>
          <form action="/signup" method="post">
            <input type="submit" value="Signup" class="btn btn-primary">
          </form>
          <form action="/login" method="post">
            <input type="submit" value="login" class="btn btn-secondary">
          </form>
          <% } %>
    </div>
  </div>


  <div id="map"></div>
  <div class="row">
    <div class="col-lg-12">

    </div>
  </div>
</div>
</div>
<script>
  window.coor = <%- JSON.stringify(game.coordinates) -%>;
</script>
<script src="/javascripts/map.js"></script>